.container {
    background-image: url("images/space-background.png");
    width: 600px;
    height: 700px;
    position: relative;
    margin: auto;
}

.game-title {
    color: blanchedalmond;
    position: absolute;
    left: 100px;
    top: 100px;
    transform: rotate(-20deg);
}

.play {
    background-color: blanchedalmond;
    position: absolute;
    left: 100px;
    top: 200px;
    height: 50px;
    width: 50px;
}

.game-over {
    color: red;
    position: absolute;
    left: 200px;
    top: 100px;
    transform: rotate(-5deg);
}

.score {
    color: blanchedalmond;
    position: absolute;
    left: 200px;
    top: 200px;
}

.platform {
    width: 100px;
    height: 10px;
    background-color: rgb(91, 214, 118);
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 10px;
}

.platform-horizontal {
    width: 100px;
    height: 10px;
    background-color: rgb(134, 142, 212);
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 15px;
    animation-name: horizontal;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes horizontal {
    50% {
        transform: translateX(70px);   
    }
    100% {
        transform: translateX(0px);
    }
}

.doodler {
    background-image: url("images/doodler.png");
    width: 87px;
    height: 85px;
    position: absolute;
}