.container {
    background-image: url("images/space-background.png");
    width: 600px;
    height: 700px;
    position: relative;
}

.platform {
    width: 100px;
    height: 10px;
    background-color: rgb(91, 214, 118);
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 10px;
}

.platform-horizontal {
    width: 100px;
    height: 10px;
    background-color: rgb(134, 142, 212);
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 10px;
    animation-name: horizontal;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
    
}

@keyframes horizontal {
    25% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(60px);   
    }
    75% {
        transform: translateX(-30px);   
    }
    100% {
        transform: translateX(-60px);
    }
}

.doodler {
    background-image: url("images/doodler.png");
    width: 87px;
    height: 85px;
    position: absolute;
}

.game-over {
    color: white;
}